<!DOCTYPE html>
<html>
<head>
    <title>YOUNGFS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <style>
        body {
            padding-bottom: 128px;
            font-size: small;
        }

        #drop-area {
            border: 1px transparent;
        }

        #drop-area.highlight {
            border-color: purple;
            border: 2px dashed #ccc;
        }

        .button {
            display: inline-block;
            padding: 2px;
            background: #ccc;
            cursor: pointer;
            border-radius: 2px;
            border: 1px solid #ccc;
            float: right;
        }

        .button:hover {
            background: #ddd;
        }

        label {
            font-weight: normal;
        }

        #fileElem {
            display: none;
        }

        .footer {
            position: absolute;
            bottom: 0;
            right: 5%;
            min-width: 25%;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>
            <img src="/static/images/hit_logo.jpeg" width="100" height="100"/>
            IECSFS
        </h1>
    </div>
    <form class="upload-form">
        <input type="file" id="fileElem" multiple onchange="handleFiles(this.files)"/>
    </form>
    <div class="row">
        <div>
            <span style="font-size: medium; float: left; margin-top: 8px;">
                {{ range $pathLink := .PathLinks }}
                <a href="{{ printUrlPath "/" $.Set $pathLink.Link }}">
                    {{ $pathLink.Name }}
                </a>
                {{ end }}
            </span>
            <div class="col-lg-4" style="float: right; margin-bottom: 5px;">
                <div class="btn-group btn-group-sm pull-right" role="group" style="margin-top:3px;">
                    <label class="btn btn-default" onclick="mkdir()">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> New Folder
                    </label>
                    <label class="btn btn-default" for="fileElem">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Upload
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="drop-area">
        <table class="table table-hover" width="90%">
            {{ range $ent := .Entries }}
            <tr>
                <td width="45%">
                    {{if $ent.IsDirectory }}
                    <img src="/static/images/folder.png" width="20" height="20">
                    {{end}}
                    <a href="{{ printUrlPath "/" $.Set $ent.FullPath }}" >
                    {{ $ent.Name }}
                    </a>
                </td>
                <td align="right" nowrap>
                    {{if $ent.IsFile}}
                    {{ $ent.Mime }}&nbsp;
                    {{end}}
                </td>
                <td align="right" nowrap>
                    {{if $ent.IsFile}}
                    {{ $ent.FileSize | humanizeIBytes }}&nbsp;
                    {{end}}
                </td>
                <td align="right" nowrap>
                    {{ $ent.Mtime }}
                </td>
                <td align="right" nowrap>
                    <label class="button" onclick="deleteFile({{ $ent.Name }})">Delete</label>
                </td>
                <td align="right" nowrap>
                    <label class="button" onclick="recoverFile({{ $ent.Name }})">Recover</label>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
    <div id="progress-area" class="footer" style="display: none;">
    </div>
</div>
</body>
<script type="text/javascript">
    // ************************ Drag and drop ***************** //
    let dropArea = document.getElementById('drop-area')

        // Prevent default drag behaviors
    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false)
        document.body.addEventListener(eventName, preventDefaults, false)
    })

    // Highlight drop area when item is dragged over it
    ;['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
    })

    ;['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
    })

    // Handle dropped files
    dropArea.addEventListener('drop', handleDrop, false)

    function preventDefaults(e) {
        e.preventDefault()
        e.stopPropagation()
    }

    function highlight(e) {
        dropArea.classList.add('highlight')
    }

    function unhighlight(e) {
        dropArea.classList.remove('highlight')
    }

    function handleDrop(e) {
        var dt = e.dataTransfer
        var files = dt.files
        handleFiles(files)
    }

    let progressArea = document.getElementById("progress-area");

    var uploadList = {};

    function handleFiles(files) {
        files = [...files]
        files.forEach(startUpload);
        renderProgress();
        files.forEach(uploadFile);
    }

    function startUpload(file, i) {
        uploadList[file.name] = {'name': file.name, 'percent': 0, 'finish': false, 'failed': false};
    }

    function renderProgress() {
        var values = Object.values(uploadList);
        var html = '<table class="table">\n<tr><th>Uploading</th><\/tr>\n';
        for (let i of values) {
            var progressBarClass = 'progress-bar-striped active';
            if (i.percent >= 100) {
                progressBarClass = 'progress-bar-success';
            }
            if (i.failed) {
                progressBarClass = 'progress-bar-danger';
            }
            html += '<tr>\n<td>\n';
            html += '<div class="progress" style="margin-bottom: 2px;">\n';
            html += '<div class="progress-bar ' + progressBarClass + '" role="progressbar" aria-valuenow="' + '100" aria-valuemin="0" aria-valuemax="100" style="width:' + i.percent + '%;">';
            html += '<span style="margin-right: 10px;">' + i.name + '</span>' + i.percent + '%<\/div>';
            html += '<\/div>\n<\/td>\n<\/tr>\n';
        }
        html += '<\/table>\n';
        progressArea.innerHTML = html;
        if (values.length > 0) {
            progressArea.attributes.style.value = '';
        }
    }

    function reportProgress(file, percent) {
        var item = uploadList[file]
        item.percent = percent;
        renderProgress();
    }

    function finishUpload(file, successful) {
        uploadList[file]['finish'] = true;
        uploadList[file]['failed'] = !successful;
        renderProgress();
        var allFinish = true;
        for (let i of Object.values(uploadList)) {
            if (!i.finish) {
                allFinish = false;
                break;
            }
        }
        if (allFinish) {
            var failedInfo = ''
            for (let i of Object.values(uploadList)) {
                if (i.failed) {
                    failedInfo += i.name + '   '
                }
            }
            if (failedInfo !== '') {
                setTimeout(() => {
                    alert('upload failed:  ' + failedInfo);
                    window.location.reload();
                }, 300);
            } else {
                window.location.reload();
            }
        }
    }

    function uploadFile(file, index) {
        var url = window.location.href
        if (url.charAt(url.length - 1) !== '/') {
            url += '/'
        }
        var fileName = file.name;
        url += fileName
        var xhr = new XMLHttpRequest()
        var formData = new FormData()
        xhr.open('POST', url, true)
        xhr.upload.addEventListener('progress', function (e) {
            if (e.lengthComputable) {
                var percent = Math.ceil((e.loaded / e.total) * 100);
                reportProgress(fileName, percent)
            }
        });
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200 || xhr.status === 201 || xhr.status === 202) {
                    finishUpload(fileName, true);
                } else {
                    finishUpload(fileName, false);
                }
            }
        }
        // loadend only means that the upload to the server is complete
        // xhr.upload.addEventListener('loadend', function (e) {
        //     finishUpload(fileName);
        // });
        formData.append('file', file)
        // formData.append('compress', 'true')
        xhr.send(formData)
    }

    function deleteFile(fileName) {
        var url = window.location.href
        if (url.charAt(url.length - 1) !== '/') {
            url += '/'
        }
        url += fileName
        var xhr = new XMLHttpRequest()
        var formData = new FormData()
        xhr.open('DELETE', url, true)
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200 || xhr.status === 201 || xhr.status === 202) {
                    alert('delete successfully');
                    window.location.reload()
                } else {
                    alert('delete failed');
                    window.location.reload()
                }
            }
        }

        formData.append('recursive', 'true')
        xhr.send(formData)
    }

    function recoverFile(fileName) {
        var url = window.location.href
        if (url.charAt(url.length - 1) !== '/') {
            url += '/'
        }
        url += fileName
        var xhr = new XMLHttpRequest()
        var formData = new FormData()
        xhr.open('POST', url, true)
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200 || xhr.status === 201 || xhr.status === 202) {
                    alert('recover successfully');
                    window.location.reload()
                } else {
                    alert('recover failed');
                    window.location.reload()
                }
            }
        }

        formData.append('recover', 'true')
        xhr.send(formData)
    }

    function mkdir() {
        var dirName = prompt('Folder Name:', '');
        dirName = dirName.trim();
        if (dirName == null || dirName === '') {
            return;
        }
        var url = window.location.href
        if (url.charAt(url.length - 1) !== '/') {
            url += '/'
        }
        url += dirName

        var xhr = new XMLHttpRequest()
        xhr.open('PUT', url, false)
        xhr.send(null)
        window.location.reload()
    }
</script>
</html>
